body {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

a {
    font-size: 18px;
}

p {
    color: rgb(216, 147, 18);
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

img {
    height: auto;
}

.champorado,
.pancit {
    width: 400px;
}

.halo {
    width: 300px;
}

.ingredient {
    color: rgb(46, 197, 46);
}

.ingredient.optional {
    color: rgb(57, 99, 236);
}

.step {
    color: rgb(243, 106, 106);
}